<div>
  <form (submit) = "login($event)">
    <label for ="username">  Username </label>
    <input class = "field" type="text" id = "username" name = "username"> <br><br>
    <label for ="passcode">  Passcode</label>
    <input class = "field" type="text" id = "passcode" name = "passcode"> <br><br>
    <input class = "btn btn-primary" class="btn btn-primary" type="submit" value="Submit">
    <span> </span>
    <a class="btn btn-primary" routerLink="/register" routerLinkActive="active"> Register</a>
  </form>
</div>
